<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GMSServicesAPIKey</key>
	<string>AIzaSyD-KQoaz7aZJHu8yaFkZb8pxPvPXlGaHYc</string>
	<key>GIDSignInClientID</key>
	<string>588209366180-r3apca6e3camlcavm6mi1ais82e90qj3.apps.googleusercontent.com</string>
</dict>
</plist>
